@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

.menu {
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 25px;
}

.menu a {
    text-decoration: none;
    background-color: #172049;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    flex-basis: 10%;
    text-align: center;
}

.menu a:hover {
    background-color: #5e81ff;
}

.menu a.external_link {
    background-color: #5e81ff;
}

.menu a.external_link:hover {
    color: #333333;
}

.controls_div {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

input {
    text-align: center;
}